html {
  font-size: 11px;
  font-family: "Open Sans";
  margin: auto;
}

/*Nav Section*/

.navbar {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #fff;
}

.navbar .navbar-nav {
  margin-left: -1rem;
}

.nav .active a {
  color: #399bd1;
}

.nav .active a:hover{
  color: #399bd1;
}

.nav a {
  color: #949494;
}

.nav a:hover {
  background-color: red;
  color: #000;
}

.navbar-header {
  float: right;
}

.navbar .navbar-brand{
  padding-right: 1rem;
}

/*Jumbotron Section*/

.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

}

.jumbotron-bike {
  background-image: url("../imgs/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../imgs/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../imgs/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../imgs/jumbotron-duffel.jpg");
}

.jumbotron h1 {
  padding-top: 5rem;
  font-family: "Monoton";
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 7.1rem;
  margin: auto;
}

.jumbotron p {
  width: 51.3rem;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: auto;
}

.btn-primary {
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 1rem 0;
  width: 11.4rem;
  border-radius: 10px;
  background-color: #399bd1;
  text-align: center;
}

.btn-primary a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
  transition: all 200ms ease-in-out;
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);

}

/* Main Content*/

.main-content {
  padding: 0 10rem;
}

.main-content h3 {
  font-weight: bold;
  font-size: 1.7rem;
  color: #399bd1;
}

.main-content h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.featured {
  color: #399bd1
}

.main-content p {
  font-size: 1rem;
}

.main-content li {
  font-size: 1rem;
  line-height: 1.4rem;
}

.main-content .col-md-6 img{
  width: 100%;
  margin-top: 1rem;
  padding-left: 0;
}

.main-content .col-md-4 img {
  width: 100%;
}

.main-content .col-md-4 {
  padding-bottom: 5.85rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform 0.5s, opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* Trouble? Section*/

.help {
  text-align: center;
  padding: 5.4rem;
  background-color: #f3f3f3;
}

.help strong {
  font-size: 2.5rem;
  display: inline-block;
  margin-bottom: 1.4rem;
}

.help p {
  max-width: 42rem;
  margin: auto;
}

.help .btn-primary {
  margin: 2rem auto;
}

/*Media Queries*/

@media only screen and (max-width: 768px) {

  /*nav*/

  .nav.navbar-nav > li > a:hover {
    background-color: #fff;
  }

  /*jumbotron*/

  .jumbotron {
    height: 80vh;
    margin-top:5rem;
  }

  .jumbotron h1 {
    font-size: 5.7rem;
  }

  .jumbotron h2 {
    width: 30rem;
    font-size: 1.2rem;
    margin: auto;
  }

  .btn-primary {
    margin-top: 4rem
  }

  /*main content*/

  .main-content {
    padding: 0 1rem;
  }


}
